[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
geotext = {file = "https://github.com/elyase/geotext/archive/master.zip"}
pprintpp = "*"
bs4 = "*"
selenium = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.8"
